﻿@using eCommerce.Data.Utils.PartialPermissions
@model eCommerce.Web.Models.Register
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-3">
        <div class="left-sidebar">
            <div class="panel-group category-products" id="accordian">
                @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.User.Edit)).Succeeded)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="@Url.Action("List","User")">Users</a></h4>
                        </div>
                    </div>
                }


                @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.Category.Edit)).Succeeded)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="@Url.Action("Index","Category")">Categories</a></h4>
                        </div>
                    </div>
                }


                @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.Product.Edit)).Succeeded)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="@Url.Action("List","Product")">Products</a></h4>
                        </div>
                    </div>
                }




                @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.User.Profile)).Succeeded)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="@Url.Action("Profile","User")">My Profile</a></h4>
                        </div>
                    </div>
                }




                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="@Url.Action("Logout","Account")">Logout</a></h4>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-sm-9 padding-right">
        <div class="features_items">
            <div class="login-form">
                <!--login form-->
                <h2>User</h2>
                <form asp-action="Save" asp-controller="User">
                    <input type="hidden" asp-for="Id">
                    <input type="text" asp-for="FirstName" placeholder="First Name" />
                    <input type="text" asp-for="LastName" placeholder="Last Name" />
                    <input type="Email" asp-for="Email" placeholder="Email" />
                    <input type="date" asp-for="BirthDate" />

                    <input type="text" asp-for="Username" placeholder="Username" />

                    @if (Model.Active)
                    {
                        <input type="checkbox" asp-for="Active" checked="checked" />

                    }
                    else
                    {
                        <input type="checkbox" asp-for="Active" />
                    }


                    <button type="submit" class="btn btn-default">Save</button>
                </form>

            </div>

        </div>

    </div>
</div>