﻿@using eCommerce.Data.Utils.PartialPermissions

@model IEnumerable<eCommerce.Data.ApplicationUser>


@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-sm-3">
        <div class="left-sidebar">
            <div class="panel-group category-products" id="accordian">
                @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.User.Edit)).Succeeded)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="@Url.Action("List","User")">Users</a></h4>
                        </div>
                    </div>
                }


               


                @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.Category.Edit)).Succeeded)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="@Url.Action("Index","Category")">Categories</a></h4>
                        </div>
                    </div>
                }


                @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.Product.Edit)).Succeeded)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="@Url.Action("List","Product")">Products</a></h4>
                        </div>
                    </div>
                }




                @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.User.Profile)).Succeeded)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="@Url.Action("Profle","User")">My Profile</a></h4>
                        </div>
                    </div>
                }




                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="@Url.Action("Logout","Account")">Logout</a></h4>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-sm-9 padding-right">
        <div class="features_items">
            <!--features_items-->
            <a class="btn btn-primary" href="@Url.Action("Add","User")" style="float:right;">+ AddUser</a>
            <div class="review-payment">
                <h2>Users</h2>
            </div>

            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="description">EditUser</td>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Email</td>
                            <td>Active</td>
                          
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                        
                            <td class="cart_description">
                                <a href="@Url.Action("Edit", "User", new { id = item.Id })">@item.UserName</a>
                            </td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Email</td>

                            <td>
                                @if (item.Active ?? false)
                                {
                                    <input type="checkbox" onclick="return false;" checked />
                                }
                                else
                                {
                                    <input type="checkbox" onclick="return false;" />
                                }

                            </td>
                
                          </tr>
                        }

                    </tbody>
                </table>
            </div>



        </div>

    </div>
</div>