﻿@model IEnumerable<eCommerce.Service.Models.Category>


<div class="panel-group category-products" id="accordian">
    <!--category-productsr-->

    @foreach (var item in Model)
    {
        if (item.SubCategories.Count > 0)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        
                        <a data-toggle="collapse" data-parent="#accordian" href="#@item.Id">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            @item.Name
                        </a>
                    </h4>
                </div>
                <div id="@item.Id" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            @foreach (var subItem in item.SubCategories)
                            {
                                <li><a href="@Url.Action("Index","Product",new { categoryId=subItem.Id})">@subItem.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="@Url.Action("Index","Product",new { categoryId=item.Id})">@item.Name</a></h4>
                </div>
            </div>
        }
    }

</div>
