﻿@model eCommerce.Service.Models.Product










<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <a href="@Url.Action("Detail","Product",new { id=Model.Id})">
                    <img src="~/@Model.ImageUrl" alt="" /></a>
                <h2>$@Model.Price</h2>
                <p>@Model.Title</p>
                <a href="@Url.Action("AddCart","Product", new { id=Model.Id})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
            </div>
            
        </div>
        
    </div>
</div>