﻿@using eCommerce.Data.Utils.PartialPermissions
@model eCommerce.Web.Models.ProductEditModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-3">
        <div class="left-sidebar">
            <div class="panel-group category-products" id="accordian">
                @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.User.Edit)).Succeeded)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="@Url.Action("List","User")">Users</a></h4>
                        </div>
                    </div>
                }


                @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.Category.Edit)).Succeeded)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="@Url.Action("Index","Category")">Categories</a></h4>
                        </div>
                    </div>
                }


                @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.Product.Edit)).Succeeded)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="@Url.Action("List","Product")">Products</a></h4>
                        </div>
                    </div>
                }




                @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.User.Profile)).Succeeded)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="@Url.Action("Profile","User")">My Profile</a></h4>
                        </div>
                    </div>
                }




                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="@Url.Action("Logout","Account")">Logout</a></h4>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-sm-9 padding-right">
        <div class="features_items">
            <div class="login-form">
                
                <h2>Product</h2>
                <form asp-action="Save" asp-controller="Product" enctype="multipart/form-data" method="post">
                    <input type="file" name="file" />
                    <input type="hidden" asp-for="Product.Id">
                    @*<span class="profile-picture" style="width:100px;">*@

                    @*     <img class="editable" width="100" id="imgImage" src="@Model.Product.ImageUrl">*@
                    @*</span>*@



                    <input type="text" asp-for="Product.Title" placeholder="Title" />
                    <input type="text" asp-for="Product.Description" placeholder="Description" />
                    <input type="tel" asp-for="Product.Price" placeholder="Price" />
                    <span>Category</span>
                    <select asp-for="Product.CategoryId" required>
                        <option></option>
                        @foreach (var item in Model.Categories)
                        {
                            if (item.Id == Model.Product.CategoryId)
                            {
                                <option value="@item.Id" selected>@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }

                        }
                    </select>

                    <button type="submit" class="btn btn-default">Save</button>
                </form>
            </div>
        </div>

    </div>
</div>

