﻿
@model eCommerce.Web.Models.ProductModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-sm-3">
        <div class="left-sidebar">
            @await Html.PartialAsync("_CategoriesPartial", Model.Categories)
        </div>
    </div>


    <div class="col-sm-9 padding-right">
        <div class="features_items">
           
            @await Html.PartialAsync("_ProductsPartial", Model.Products)

        </div>
    </div>
</div>