﻿@using eCommerce.Data.Utils.PartialPermissions

@model IEnumerable<eCommerce.Service.Models.Product>


@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-sm-3">
        <div class="left-sidebar">
            <div class="panel-group category-products" id="accordian">
                @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.User.Edit)).Succeeded)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="@Url.Action("List","User")">Users</a></h4>
                        </div>
                    </div>
                }


                @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.Category.Edit)).Succeeded)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="@Url.Action("Index","Category")">Categories</a></h4>
                        </div>
                    </div>
                }


                @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.Product.Edit)).Succeeded)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="@Url.Action("List", "Product")">Products</a></h4>
                        </div>
                    </div>

                }



                    @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.User.Profile)).Succeeded)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="@Url.Action("Profile","User")">My Profile</a></h4>
                            </div>
                        </div>
                    }


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="@Url.Action("Logout","Account")">Logout</a></h4>
                        </div>
                    </div>
                </div>

        </div>
    </div>

    <div class="col-sm-9 padding-right">
        <div class="features_items">
           
            <a class="btn btn-primary" href="@Url.Action("Edit","Product")" style="float:right;">+ Add</a>
            <div class="review-payment">
                <h2>Users</h2>
            </div>

            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">Item</td>
                            <td class="description">Title</td>
                            <td>Description</td>
                            <td>Price</td>
                            <td>Category</td>
                            <td>Image</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="cart_product">
                                <a href=""><img style="width:70px;" src="~/@item.ImageUrl" alt=""></a>
                            </td>
                            <td class="cart_description">
                                <a href="@Url.Action("Edit", "Product", new { id = item.Id })">@item.Title</a>
                            </td>
                            <td>@item.Description</td>
                            <td>@item.Price</td>
                            <td>@item.Id</td>
                            <td>@item.ImageUrl</td>

                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href="@Url.Action("Delete", "Product", new { id=item.Id})"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>